html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-background {
    z-index: -1;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    background-image: url(res/Fern2.jpg);
    background-position: center 0%;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    animation: slideopenheader 1000ms cubic-bezier(.6, 0, .4, 1) forwards;
}

.header {
    top: 60%;
    user-select: none;
}

#name {
    margin: 0;
    font-size: 6em;
    text-shadow: 4px 4px 6px black;
}

#title {
    margin: 0;
    padding-left: 0.25em;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: inherit;
}

h2 {
    margin: 1em;
}

#education {
    height: 2000px;
    background-color: rgb(17, 15, 24);
    /* background-color: #0050c1; */
    /* background-color: #1f1d26; */
}

.section>div:nth-child(1) {
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}